.div {
    background: rgb(112, 179, 231);
    font-family: Arial, sans-serif;
    text-align: center;
}

  body {
    font-family: Arial, sans-serif;
    background-color: #38a5b6;
    margin: 0;
    padding: 0;
  }

  .container {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .container h2 {
    margin-bottom: 20px;
    text-align: center;
  }

  .form-group {
    margin-bottom: 20px;
  }

  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }

  .form-group input[type="text"],
  .form-group input[type="email"],
  .form-group input[type="tel"],
  .form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
  }

  .form-group select {
    height: 40px;
  }

  .form-group input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }

  .form-group input[type="submit"]:hover {
    background-color: #0056b3;
  }
  #precios {
    background-color: rgb(148, 208, 89);
    text-align: center;
    text-decoration: #ccc;
    color: rgb(165, 74, 74);
  }